asgiref>=3.8.1
Django>=5.1.7
django-configurations==2.5.1
django-htmx==1.21.0
gunicorn==23.0.0
pip>=24.2
python-dotenv==1.0.1
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==24.2
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
