[client]
database = horizon_pair
user = nrv773
password = xZ2;dBi&8Bt7Re$
default-character-set = utf8

            'NAME': 'horizon_pair',
            'USER': 'nrv773',
            'PASSWORD': 'xZ2;dBi&8Bt7Re$',
            'HOST': 'http://nrv773.mysql.pythonanywhere-services.com',
            'PORT': '3306',